
<p align="center"><a href="#/"><img src="images/frontm.png" class="img-responsive"></a></p>

<div class="jumbotron">
  <form role="form">
    <div class="row marketing">
        <div class="form-group">
            <div class="form-group row">
                <div class="col-sm-4">
                  <input type="text" ng-model="settore" placeholder="Settore" class="form-control input-lg">
                </div>
                <div class="col-sm-4">
                  <input type="text" ng-model="anello" placeholder="Anello" class="form-control input-lg">
                </div>
                <div class="col-sm-4">
                  <input type="text" ng-model="posto" placeholder="Posto" class="form-control input-lg">
                </div>
              </div>
            <p>
              <input type="text" ng-model="spettatore" placeholder="Spettatore" class="form-control input-lg">
            </p>
            <p>
              <input type="text" ng-model="compratore" placeholder="Compratore" class="form-control input-lg">
            </p>

            <p>
              <a class="btn btn-lg btn-success" ng-click="takeShort()">Inserisci Biglietto
                <span class="glyphicon glyphicon-ok"></span>
              </a>
            </p>
              <div ng-show="my.message" class="alert alert-success">{{esito}}
                <a ng-href={{rispostaJson}}> <span class="glyphicon glyphicon-stats" style="float:right"></span></a>
              </div>
              <div ng-show="err" class="alert alert-danger">{{esito}}</div>
        </div>
        </div>
    </form> 
</div>

<div class="jumbotron">
<form role="form">
      <div class="row marketing">
        <div class="form-group">
        <p>
            <input type="text" ng-model="cf" placeholder="Codice Fiscale" class="form-control input-lg">
          </p>
          <p>
            <input type="text" ng-model="tipo" placeholder="Tipo" class="form-control input-lg">
          </p>
          <p>
            <input type="text" ng-model="nome" placeholder="Nome" class="form-control input-lg">
          </p>
          <p>
            <input type="text" ng-model="cognome" placeholder="Cognome" class="form-control input-lg">
          </p>
          <div class="form-group row">
                <div class="col-sm-4">
                  <input type="text" ng-model="giorno" placeholder="giorno" class="form-control input-lg">
                </div>
                <div class="col-sm-4">
                  <input type="text" ng-model="mese" placeholder="mese" class="form-control input-lg">
                </div>
                <div class="col-sm-4">
                  <input type="text" ng-model="anno" placeholder="anno" class="form-control input-lg">
                </div>
              </div>
              <p>
            <input type="text" ng-model="luogoNascita" placeholder="Luogo di nascita" class="form-control input-lg">
          </p>
          <p>
            <input type="text" ng-model="telefono" placeholder="Telefono" class="form-control input-lg">
          </p>
          <p>
            <a class="btn btn-lg btn-success" ng-click="inserisciPersona()">Inserisci persona
              <span class="glyphicon glyphicon-ok"></span>
            </a>
          </p>
          <p>
            <div ng-show="esitoS" class="alert alert-success">
            {{esito}}<a ng-href={{rispostaJson.stats}}> <span class="glyphicon glyphicon-stats" style="float:right"></span></a>
            </div>
          </p>
          <p>
            <div ng-show="esitoE" class="alert alert-danger">{{err}}</div>
          </p>
        </div>
      </div>
    </form> 
</div>


<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendidos!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>


<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>